

/* body {
  
    height:100%;
    min-height:100vh;
	
} */

.messaggio_avviso{
	padding:10px;
	display : block;
	
}



.container {
	 
	padding:10px;
	 position: relative;
	
}


/*-----------FOOTER-------------------
*/

.row{
	margin:0px;
}

.footer {

  background-color: #333;
  color: #fff;
/*   height: auto;
  position: relative; 
  top: 45px;
  bottom: 0px; 
  width: 100%;
   */
   
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; 
  
}


.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul li {
  padding: 10px 0;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #999;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer h4 {
    margin-top: 0;
  }
  .footer ul {
    text-align: center;
  }
}


/*-----------SIDE MENU-------------------
*/
.side-menu {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 1rem;
  display: none;
}


/*-----------NAVBAR-------------------
*/

.navbar.navbar-expand-lg.navbar-light.bg-danger{
	
	background-color: green;
	padding:0;
}

.side-menu .nav-link {
  color: #fff !important;
}

@media (max-width: 991.98px) {
	
  .navbar-collapse {
    display: none;
  }
  
  .side-menu {
    display: block;
  }
}



.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.list-group-item span:first-child {
  font-weight: bold;
}

.btn-link {
  color: #007bff;
}
.post-section {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
}

.post-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-display {
  height: 200px;
  overflow: hidden;
  margin-top: 10px;
}

.card-title{
	
	font-weight: bold;
	margin:0px;
}

.card-container {
	height: 100%;
	overflow-y: scroll;
}


.card {
	margin: 10px;
 	padding: 10px; 
	background-color: #f9f9f9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* --------------------------------------------------- */  

#errore, #successo{
	margin-top: 10px;
	margin-bottom:0px;
}
