/* Navbar */
.navbar {
  padding: 1rem;
}

/* Side menu */
.side-menu {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 1rem;
  display: none;
}

.side-menu .nav-link {
  color: #fff !important;
}
@media (max-width: 991.98px) {
	
  .navbar-collapse {
    display: none;
  }
  
  .side-menu {
    display: block;
  }
}

@media (max-width: 767px) {
  .footer .row {
    flex-direction: column;
  }
  .footer p {
    font-size: 1.2rem;
  }
}
.card {
    margin-bottom: 20px;
  }
  
.card {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}

.card-title {
  margin-bottom: 0;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.list-group-item span:first-child {
  font-weight: bold;
}

.btn-link {
  color: #007bff;
}
.post-section {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
}

.post-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-display {
  height: 200px;
  overflow: hidden;
  margin-top: 10px;
}

body {
	margin: 0;
}

.card-container {
	height: 100%;
	overflow-y: scroll;
}

.card {
	margin: 10px;
	padding: 20px;
	background-color: #f9f9f9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

  