/* Navbar */
.navbar {
  padding: 1rem;
}
html, body {
  height: 100%;
}

.footer {
  background-color: #333;
  color: #fff;
  height: auto;
  min-height: 100%;
  padding-top: 20px;
}

.footer .container {
  padding-top: 30px;
  padding-bottom: 100%;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul li {
  padding: 10px 0;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #999;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
  .footer h4 {
    margin-top: 0;
  }
  .footer ul {
    text-align: center;
  }
}

/* Side menu */
.side-menu {
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 1rem;
  display: none;
}

.side-menu .nav-link {
  color: #fff !important;
}
@media (max-width: 991.98px) {
	
  .navbar-collapse {
    display: none;
  }
  
  .side-menu {
    display: block;
  }
}

#carosello_avvisi{
 	
/* margin: -100px 0 0 -150px;
 top: 50%;
  left: 50%;
    height: 80%;
         
  width: 100%;
  height: 100%;
  position: relative;
  display: flex; */
     
    max-width: 100%;
 	height: 700px; 
  /* height:100vh; */
  padding-bottom: 50px;
  
}

.carousel-inner{
	  width: 100%;
/*   height: 100%;
  position: relative;
  display: flex; */
}


/* .card {
    margin-bottom: 20px;
  }
  
.card {
  background-color: #f8f9fa;
  border-radius: 0.5rem;
} */

.card-title_text-secondary h1 {
  margin-bottom: 0;
  text-align: center;
  font-size: 5vw
}

.card-content h3 {
  text-align: center;
  
/*   
	padding-top: 2px;
	padding-right: 30px;
  padding-left: 80px; 
    padding-bottom: 50px;
    */

  
  font-size: 4vw;
  overflow-wrap:  break-word;
}

.card-content p {
	display: inline;
	text-align: center;
	  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

.list-group-item span:first-child {
  font-weight: bold;
}

.btn-link {
  color: #007bff;
}
.post-section {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
}

.post-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post-display {
  height: 200px;
  overflow: hidden;
  margin-top: 10px;
}

body {
	margin: 0;
}

.card-container {
	height: 100%;
	overflow-y: scroll;
}

.card {
	margin: 10px;
	padding: 20px;
	background-color: #f9f9f9;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

  