@charset "UTF-8";

#carosello_avvisi{
 	
  bottom: 0;
    position: relative;
      max-width: 100%;
	display: flex; 
	
	margin-left: 20px;
	margin-right: 20px;
  	height:auto;
}



.carousel-inner{
	  width: 100%;

}



.card-title_text-secondary h1 {
  margin-bottom: 0;
  margin-top:0;
  text-align: center;
  font-size: 4vw;
  padding-bottom:10px;
}

.card-content{
	
	border-style: solid;
	border-radius: 10px;
}

.card-content h3 {
  text-align: center;
  text-justify: inter-word;
  font-size: 6vh;
  overflow-wrap:  break-word;
  padding-left:2px;
  padding-right:2px;
  	
}

/* ---------------- BARRA SCORREVOLE -------- */



 *, *::before, *::after{
  -webkit-box-sizing:padding-box;
  box-sizing:padding-box;
} 



ul,
li,
p {

  font-family: verdana;
  font-size: 35pt;
}

.tickerwrapper {

  position: fixed;
  bottom: 0;
  left:0%;
  border: 1px solid #444;
  background: rgb(183, 0, 0);
  width: 100%;
  height: auto;
  overflow: hidden; 
  
}

ul.list {
 
 display: inline-block;
  list-style: none;
  padding:0;
  margin:0;
}

ul.list.cloned {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
}

ul.listitem{
	
	display: inline-block;
}

ul.list li {
  float: left;
  padding-left: 20px;
}

.barra {
	
	white-space: nowrap;
        overflow: hidden;
        color: white;
        bottom:0px;
}
