@charset "UTF-8";

#carosello_avvisi{
 	
  
    position: relative;
      max-width: 100%;
  height:100vh; 
 display: flex; 
   padding: 10px;
   

  
}


.carousel-inner{
	  width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	 
 	
}



.card-title_text-secondary h1 {
  margin-bottom: 0;
  text-align: center;
  font-size: 5vw;
  padding-bottom:10px;
}

.card-content{
	
	border-style: solid;
	
}

.card-content h3 {
  text-align: center;
/* 	background-color: black; */
	padding: 2px;
  text-justify: inter-word;
  font-size: 6vh;
  overflow-wrap:  break-word;

}

/* ---------------- BARRA SCORREVOLE -------- */



 *, *::before, *::after{
  -webkit-box-sizing:padding-box;
  box-sizing:padding-box;
} 



ul,
li,
p {
/*   margin: 0;
  padding: 0; */
  font-family: verdana;
  font-size: 40pt;
}

.tickerwrapper {
  /* the outer div */
  
/*   position: relative; */
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left:0%;
  border: 1px solid #444;
  background: rgb(183, 0, 0);
  width: 100%;
  height: 90px;
  overflow: hidden; 
  cursor: pointer;
}

ul.list {
/*   position: relative;
 */  
 display: inline-block;
  list-style: none;
  padding:0;
  margin:0;
}

ul.list.cloned {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
}

ul.listitem{
	
	display: inline-block;
}

ul.list li {
  float: left;
  padding-left: 20px;
}

.barra {
	white-space: nowrap;
        overflow: hidden;
        color: white;
}
